# 基础依赖
streamlit>=1.28.0
pandas==2.2.1
numpy==2.0.0
scikit-learn==1.4.1

# 生存分析
lifelines==0.30.0

# 可视化
matplotlib==3.8.3
seaborn==0.13.2

# 需要 torch
torch==2.1.0
torchvision==0.16.0
# torchaudio==0.16.0



